@import '../../essentials/variables';
@import '../../essentials/mixins/mixins';

// Icon


.lumex-icon {
    --lumex-icon-font-size: #{$icon-font-size};
}

.lumex-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: var(--lumex-icon-font-size);

    & * {
        font-size: inherit;
    }

    &--sm {
        --lumex-icon-font-size: #{$icon-font-size-sm};
    }

    &--lg {
        --lumex-icon-font-size: #{$icon-font-size-lg};
    }
}