@namespace LumexUI.Docs.Client.Components
@inherits LayoutComponentBase
@layout MainLayout

<Header />

<div class="container max-w-7xl mx-auto px-6">
    <aside class="hidden fixed z-20 overflow-y-auto inset-0 top-[4.0625rem] left-[max(0px,calc(50%-40rem))] right-auto w-[16rem] pl-6 pb-10 lg:block scrollbar:h-2 scrollbar:w-2 scrollbar-thumb:rounded scrollbar-thumb:bg-foreground-200 scrollbar-track:rounded scrollbar-track:bg-foreground-100">
        <NavMenu />
    </aside>
    <div class="lg:pl-[14.5rem]">
        @Body
    </div>
</div>
