@namespace LumexUI.Docs.Client.Components
@inherits LayoutComponentBase

<LumexThemeProvider Theme="@_theme" />

@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private readonly LumexTheme _theme = new DocsTheme();
}
