<LumexCard Class="w-96 h-60">
    <img src="assets/images/card-2.jpg"
         class="h-full object-cover object-[0_47%]"
         alt="Card background" />
    <LumexCardFooter Blurred="@true"
                     Class="absolute z-10 left-2 bottom-2 w-[calc(100%_-_1rem)] py-2 bg-background/10 rounded-large">
        <div class="flex flex-col flex-grow text-white/85">
            <h4 class="font-bold text-base">
                How VR Enhances Learning
            </h4>
            <p class="text-xs">
                Discover how VR enables immersive learning
            </p>
        </div>
        <LumexButton Variant="@Variant.Flat"
                     Radius="@Radius.Large"
                     Size="@Size.Small"
                     Class="text-xs text-white bg-white/15">
            Learn
        </LumexButton>
    </LumexCardFooter>
</LumexCard>
