<LumexCard Classes="@_classes">
    <LumexCardHeader>
        <h4 class="text-large font-extrabold">
            The Ultimate Cyberpunk Experience
        </h4>
    </LumexCardHeader>
    <LumexCardBody>
        <blockquote class="italic text-foreground-500">
            "Neon Shadows" blends noir and cyberpunk in a gripping tale of intrigue,
            set in a decaying futuristic city. A must-read for fans of the genre.
        </blockquote>
    </LumexCardBody>
    <LumexCardFooter>
        <p class="text-small text-foreground-600">A. Carter</p>
        <p class="text-indigo-400">★★★★★</p>
    </LumexCardFooter>
</LumexCard>

@code {
    private CardSlots _classes = new()
    {
        Root = "max-w-md py-4 rounded-3xl bg-zinc-100 shadow-[5px_5px_10px_theme(colors.zinc.200),-5px_-5px_10px_theme(colors.zinc.50)]",
        Header = "justify-center text-center",
        Body = "py-0 justify-center text-center",
        Footer = "justify-center gap-2"
    };
}