<LumexCard Class="max-w-sm">
    <LumexCardHeader Class="gap-3">
        <span class="h-8 w-8 rounded-lg bg-gradient-to-tr from-indigo-100 to-indigo-300" />
        <div class="flex flex-col">
            <p class="font-semibold">LumexUI</p>
            <p class="text-sm text-default-500">lumexui.com</p>
        </div>
    </LumexCardHeader>
    <LumexDivider />
    <LumexCardBody>
        <p>Make beautiful websites regardless of your design experience.</p>
    </LumexCardBody>
    <LumexDivider />
    <LumexCardFooter>
        <LumexLink Href="https://github.com/LumexUI/lumexui"
                   External="@true"
                   Class="text-indigo-500">
            Visit source code on GitHub
            <LumexIcon Icon="@Icons.Rounded.OpenInNew"
                       Size="@new("16")"
                       Class="ml-1" />
        </LumexLink>
    </LumexCardFooter>
</LumexCard>
