@namespace LumexUI
@inherits LumexComponentBase

<div class="@RootClass" style="@RootStyle" @onclick="@HandleClickAsync"></div>

@code {
    [Parameter] public bool Dark { get; set; }

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    protected override string RootClass =>
        new CssBuilder( "lumex-overlay" )
            .AddClass( "lumex-overlay--dark", when: Dark )
            .AddClass( base.RootClass )
        .Build();

    private async Task HandleClickAsync( MouseEventArgs args )
    {
        await OnClick.InvokeAsync( args );
    }
}
