@page "/about"
@namespace LumexUI.Docs.Pages

<DocsPage>
	<DocsPageIntro Title="About Us - LumexUI">
		<Description>
			Welcome to LumexUI, a dynamic Blazor components library born from a passionate journey that began in December 2022.
			Guided by the desire to enhance Blazor development. Join us as we share our story of overcoming challenges,
			embracing inspiration, and creating a space for collaboration within the Blazor community.
		</Description>
	</DocsPageIntro>

	<DocsPageContent>
		<DocsPageSection Title="Inception and Purpose">
			<p>
				LumexUI started as an in-house project within my company, born out of a need to improve the performance, styling, and extension capabilities of existing Blazor components.
				Our team recognized the specific need for a more efficient and versatile data grid component, setting us on a path of innovation and development.
			</p>
		</DocsPageSection>

		<DocsPageSection Title="Inspired Challenge">
			<p>
				Inspired by successful Blazor components libraries and the recent release of Microsoft's QuickGrid, I embraced the challenge to create LumexUI.
				The aspiration to contribute to the Blazor ecosystem fueled my drive.
			</p>
		</DocsPageSection>

		<DocsPageSection Title="A Challenging Path">
			<p>
				The journey of LumexUI began in December 2022, and it wasn't without its share of challenges.
				As a lone developer, the project's high demands and complexity brought moments of doubt.
				The load was often overwhelming, leading to thoughts of quitting.
				However, the passion for creating something meaningful and impactful pushed me forward.
			</p>
		</DocsPageSection>

		<DocsPageSection Title="Focused Innovation">
			<p>
				Despite the obstacles, I remained steadfast in my commitment.
				While initially aimed at a single data grid component,
				LumexUI symbolizes my determination to overcome hurdles and deliver a valuable solution.
			</p>
		</DocsPageSection>

		<DocsPageSection Title="The LumexGrid Journey">
			<p>
				At the heart of LumexUI lies the LumexGrid component – the catalyst for our library's inception.
				This component, rooted in the foundation of Microsoft's QuickGrid, encapsulates months of dedicated effort.
				Through numerous iterations and refinements, the LumexGrid emerged as a testament to our perseverance.
			</p>
		</DocsPageSection>

		<DocsPageSection Title="Connecting with the Community">
			<p>
				Recognizing the value of collaboration, I made a pivotal decision to release LumexUI even in its early stages.
				By sharing my work with the community, I aim to connect with individuals who see potential in this project.
			</p>
		</DocsPageSection>

		<DocsPageSection Title="Future Horizons">
			<p>
				As we look ahead, the journey of LumexUI continues to unfold. With a stronger resolve, I invite you to join me, explore LumexUI, and be a part of our evolving story.
				Thank you for taking part in this journey and reading up to this point!
			</p>
			<p>Stay determined, stay inspired, and happy coding with LumexUI! 🚀</p>
		</DocsPageSection>
	</DocsPageContent>
</DocsPage>

@code {

}
