@inherits LayoutComponentBase

<LumexThemeProvider Theme="@_theme" />

<Header />

<div class="max-w-7xl container mx-auto px-4 sm:px-6">
    <NavMenu />
    <main class="lg:pl-[18.5rem]">
        <div class="pt-8">
            <header>Header</header>
            <div>Content</div>
            <footer>Footer</footer>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
