@inherits LayoutComponentBase

<LumexThemeProvider Theme="@_theme" />

<Header />

<div class="max-w-7xl container mx-auto px-6">
    <NavMenu />
    <main class="lg:pl-[18rem]">
        <div class="pt-10 xl:mr-[13rem]">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
