@inherits LayoutComponentBase

<LumexThemeProvider Theme="@_theme" />

<Header />

<main>
    Hello world!
</main>

<footer>
    Footer
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
