<div class="w-full flex flex-wrap gap-4 md:flex-nowrap">
    <LumexTextbox Type="@InputType.Email" Label="Email" />
    <LumexTextbox Type="@InputType.Email" Label="Email" Placeholder="Enter your email" />
</div>
