@import '../essentials/variables';
@import '../essentials/mixins/mixins';
@import '../essentials/functions/functions';

// Container
// https://github.com/twbs/bootstrap/blob/main/scss/_containers.scss


%container-css-vars {
    --lumex-gutter-x: 1.5rem;
}

%container-common-props {
    width: 100%;
    padding-right: var(--lumex-gutter-x);
    padding-left: var(--lumex-gutter-x);
    margin-right: auto;
    margin-left: auto;
}

.lumex-container {
    @extend %container-css-vars;
    @extend %container-common-props;
}

@each $breakpoint, $max-width in $container-max-widths {
    .lumex-#{$breakpoint}\:container {
        @extend %container-css-vars;
        @extend %container-common-props;
    }

    @include media-breakpoint-from($breakpoint) {
        %responsive-container-#{$breakpoint} {
            max-width: $max-width;
        }

        // Extend each breakpoint which is smaller or equal to the current breakpoint
        $extend-breakpoint: true;

        @each $name, $width in $breakpoints {
            @if $extend-breakpoint {
                .lumex-#{breakpoint-prefix($name)}container {
                    @extend %responsive-container-#{$breakpoint};
                }

                // Once the current breakpoint is reached, stop extending
                @if $breakpoint == $name {
                    $extend-breakpoint: false;
                }
            }
        }
    }
}