<!DOCTYPE html>
<html lang="en" class="[--scroll-mt:6.5625rem]">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="css/docs.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <PageTitle>LumexUI - A versatile Blazor UI library built using Tailwind CSS</PageTitle>
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <div id="app">
        <Routes />
    </div>

    <script src="js/prism.js"></script>
    <script src="js/docs.js"></script>
    <script src="_content/LumexUI/js/LumexUI.js" type="module"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
