@namespace LumexUI.Docs.Components

<header class="ad-intro">
    <p class="mb-2 text-sm text-semibold text-orange-400">
        @Category
    </p>

    <h1 class="text-3xl text-extrabold">
        @Title
    </h1>

    <div class="ad-intro-description lh-lg text-lg text-light">
        @Description
    </div>
</header>

@code {
    [Parameter] public RenderFragment? Description { get; set; }
    [Parameter] public string? Category { get; set; }
    [Parameter] public string? Title { get; set; }
}