@namespace LumexUI
@inherits LumexComponentBase

@{
    Parent.AddStep( this );
}

@code {
    internal void RenderStep( RenderTreeBuilder __builder )
    {
        <li class="@RootClass" style="@RootStyle" @attributes="@AdditionalAttributes">
            <h3 class="lumex-step-header">
                @StepHeader
            </h3>

            @if( StepContent is not null )
            {
                <div class="lumex-step-content">
                    @StepContent
                </div>
            }
        </li>
    }

    internal void RenderStepConnector( RenderTreeBuilder __builder )
    {
        if( _orientation is Orientation.Horizontal )
        {
            <li class="lumex-step-connector"></li>
        }
    }
}