@using LumexUI.Services

@inject IPopoverService PopoverService

<LumexButton Variant="@Variant.Outlined"
             OnClick="@TriggerAsync"
             data-popoverref="@_dropdownId">
    Open Dropdown
</LumexButton>

<LumexDropdown Id="@_dropdownId">
    <LumexDropdownMenu>
        <EmptyContent>
            <span class="text-small">No items \(o_o)/</span>
        </EmptyContent>
    </LumexDropdownMenu>
</LumexDropdown>

@code {
    private string _dropdownId = "dropdown-empty-content";

    private Task TriggerAsync()
    {
        return PopoverService.TriggerAsync( _dropdownId );
    }
}