@import '../../essentials/variables';
@import '../../essentials/mixins/mixins';

// Drawer


%drawer-css-vars {
	--lumex-drawer-zindex: #{$zindex-drawer};
	--lumex-drawer-width: #{$drawer-width};
	--lumex-drawer-padding-y: #{$drawer-padding-y};
	--lumex-drawer-padding-x: #{$drawer-padding-x};
	--lumex-drawer-color: #{$drawer-color};
	--lumex-drawer-bg: #{$drawer-bg};
	--lumex-drawer-transition: #{transform $drawer-transition-duration $drawer-transition-timing};
}

%drawer-common-props {
	display: flex;
	height: 100%;
	flex-direction: column;
}

@each $breakpoint in map-keys($breakpoints) {
	$prefix: breakpoint-prefix($breakpoint);

	.lumex-#{$prefix}drawer {
		@extend %drawer-css-vars;
		@extend %drawer-common-props;
	}
}

@each $breakpoint in map-keys($breakpoints) {
	$prefix: breakpoint-prefix($breakpoint);

	.lumex-#{$prefix}drawer {
		@include media-breakpoint-to($breakpoint) {
			position: fixed;
			z-index: var(--lumex-drawer-zindex);
			height: 100vh;
			color: var(--lumex-drawer-color);
			background-color: var(--lumex-drawer-bg);
			visibility: hidden;
			transition: var(--lumex-drawer-transition);

			&--start {
				top: 0;
				left: 0;
				width: var(--lumex-drawer-width);
				transform: translateX(-100%);
			}

			&--end {
				top: 0;
				right: 0;
				width: var(--lumex-drawer-width);
				transform: translateX(100%);
			}

			&.lumex-shown,
			&.lumex-showing {
				transform: none;
			}

			&.lumex-shown,
			&.lumex-showing,
			&.lumex-hiding {
				visibility: visible;
			}
		}

		@if $prefix != "" {
			@include media-breakpoint-from($breakpoint) {
				& .lumex-drawer-header,
				& .lumex-drawer-body {
					padding: 0;
				}

				& .lumex-drawer-body {
					display: flex;
				}
			}
		}
	}
}

.lumex-drawer {
	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: var(--lumex-drawer-padding-y) var(--lumex-drawer-padding-x);
	}

	&-body {
		flex-grow: 1;
		padding: var(--lumex-drawer-padding-y) var(--lumex-drawer-padding-x);
		overflow-y: auto;
	}

	&-btn-close {
		position: absolute;
		top: calc(var(--lumex-drawer-padding-y) - $icon-btn-padding-y);
		right: calc(var(--lumex-drawer-padding-x) - $icon-btn-padding-x);
	}
}
