@import '../../essentials/variables';
@import '../../essentials/mixins/mixins';

// Link


.LumexLink-root {
	--LumexLink-disabled-color: var(--lumex-body-secondary-color);
}

.LumexLink {
	&-root {
		&.lumex-disabled {
			color: var(--LumexLink-disabled-color);
			pointer-events: none;
			cursor: default;
		}
	}
}
