@import '../../essentials/variables';
@import '../../essentials/mixins/mixins';

// Nav menu


.lumex-nav-menu {
	--lumex-nav-link-padding-x: #{$nav-item-padding-x};
	--lumex-nav-link-padding-y: #{$nav-item-padding-x};
	--lumex-nav-link-font-size: #{$nav-item-font-size};
	--lumex-nav-link-font-weight: #{$nav-item-font-weight};
	--lumex-nav-link-color: #{$nav-item-color};
	--lumex-nav-link-color-active: #{$nav-item-color-active};
	--lumex-nav-group-padding-x: #{$nav-item-padding-x};
	--lumex-nav-group-padding-y: #{$nav-item-padding-y};
	--lumex-nav-group-font-size: #{$nav-item-font-size};
	--lumex-nav-group-font-weight: #{$nav-item-font-weight};
	--lumex-nav-group-color: #{$nav-item-color};
}

.lumex-nav {
	&-menu {
		width: 100%;
	}

	&-items {
		display: flex;
		@include list-unstyled;

		&--vertical {
			flex-direction: column;
		}
	}

	&-group {
		--lumex-nav-link-padding-x: 1.25rem;

		&-content {
			@include list-unstyled;
		}

		&-link {
			display: flex;
			align-items: center;
			padding: var(--lumex-nav-group-padding-y) var(--lumex-nav-group-padding-x);
			font-size: var(--lumex-nav-group-font-size);
			font-weight: var(--lumex-nav-group-font-weight);
			color: var(--lumex-nav-group-color);
			text-decoration: none;
		}

		&-icon {
			margin-left: .5rem;
			transition: transform 200ms ease-in-out;
		}

		&--expandable {
			cursor: pointer;
		}

		&.lumex-expanded {
			.lumex-nav-group-icon {
				transform: rotate(-180deg);
			}
		}
	}

	&-link {
		min-width: 100%;
		display: inline-flex;
		align-items: flex-start;
		padding: var(--lumex-nav-link-padding-y) var(--lumex-nav-link-padding-x);
		font-size: var(--lumex-nav-link-font-size);
		font-weight: var(--lumex-nav-link-font-weight);
		color: var(--lumex-nav-link-color);
		text-decoration: none;

		&.lumex-active {
			color: rgb(var(--lumex-nav-link-color-active));
		}
	}
}
