@import '../../essentials/variables';
@import '../../essentials/mixins/mixins';

// Nav


.LumexNav-root {
	--LumexNav-link-padding-x: #{map-get($spacers, 2)};
	--LumexNav-link-padding-y: #{map-get($spacers, 2)};
	--LumexNav-link-font-size: #{map-get($font-sizes, sm)};
	--LumexNav-link-font-weight: #{map-get($font-weights, normal)};
	--LumexNav-link-color: var(--#{$prefix}-body-color);
}

%nav-common-props {
	padding: var(--LumexNav-link-padding-y) var(--LumexNav-link-padding-x);
	font-size: var(--LumexNav-link-font-size);
	font-weight: var(--LumexNav-link-font-weight);
	color: var(--LumexNav-link-color);
	text-decoration: none;
}

.LumexNav {
	&-root {
		width: 100%;
		display: flex;
		@include list-unstyled;
	}

	&-group {
		&-link {
			display: flex;
			align-items: center;
			@extend %nav-common-props;
		}

		&-icon {
			margin-left: .5rem;
			transition: transform 200ms ease-in-out;
		}

		&-content {
			--LumexNav-link-padding-x: 1.25rem;
			--LumexNav-link-padding-y: 0.25rem;
		}

		&.lumex-expanded {
			.LumexNav-group-icon {
				transform: rotate(-180deg);
			}
		}
	}

	&-link {
		display: block;
		@extend %nav-common-props;
	}

	&--vertical {
		flex-direction: column;
	}
}
