@import '../../essentials/variables';
@import '../../essentials/mixins/mixins';

// Stepper, step


.lumex-stepper {
	--lumex-stepper-gutter-x: #{$stepper-gutter-x};
	--lumex-stepper-gutter-y: #{$stepper-gutter-y};
	--lumex-step-font-size: #{$step-font-size};
	--lumex-step-label-font-size: #{$step-label-font-size};
	--lumex-step-label-font-weight: #{$step-label-font-weight};
}

.lumex-stepper {
	display: flex;
	@include list-unstyled;

	&--horizontal {
		align-items: center;
		column-gap: var(--lumex-stepper-gutter-x);
	}

	&--vertical {
		flex-direction: column;
		row-gap: var(--lumex-stepper-gutter-y);
	}
}

.lumex-step {
	display: flex;

	&-header {
		display: flex;
		align-items: baseline;
		margin-bottom: 0;
		gap: 1rem;
		font-size: var(--lumex-step-label-font-size);
		font-weight: var(--lumex-step-label-font-weight);
		line-height: 1.5;

		&:before {
			content: counter(step);
			@include flex-center;
			flex-shrink: 0;
			width: 1.5rem;
			height: 1.5rem;
			font-size: .75rem;
			border: 1px solid hsl(var(--lumex-primary));
			border-radius: var(--lumex-border-full);
		}
	}

	&-content {
		margin-left: .75rem;
		padding-left: 1.75rem;
		font-size: var(--lumex-step-font-size);
	}

	&-connector {
		flex: 1 1 auto;
		border-top: 1px solid var(--lumex-border-color);
	}

	&--vertical {
		flex-direction: column;
		row-gap: inherit;

		&:not(:last-child) :where(.lumex-step-content) {
			padding-bottom: 1.75rem;
			border-left: 1px solid var(--lumex-border-color);
		}
	}
}
