@page "/docs/components/button"
@namespace LumexUI.Docs.Pages

@using LumexUI.Docs.Pages.Components.Button.Examples

<DocsPage>
    <DocsPageIntro Title="Button" Category="Components">
        <Description>
            <p>Buttons allow users to take actions, and make choices, with a single tap.</p>
        </Description>
    </DocsPageIntro>

    <DocsPageContent>
        <DocsPageSection Title="Usage">
            <ExampleSnippet Code="ButtonUsage">
                <ButtonUsage />
            </ExampleSnippet>

            <DocsPageSection Title="Sizes">
                <ExampleSnippet Code="ButtonSizes">
                    <ButtonSizes />
                </ExampleSnippet>
            </DocsPageSection>

            <DocsPageSection Title="Radius">
                <ExampleSnippet Code="ButtonRadius">
                    <ButtonRadius />
                </ExampleSnippet>
            </DocsPageSection>

            <DocsPageSection Title="Colors">
                <ExampleSnippet Code="ButtonColors">
                    <ButtonColors />
                </ExampleSnippet>
            </DocsPageSection>

            <DocsPageSection Title="Variants">
                <ExampleSnippet Code="ButtonVariants">
                    <ButtonVariants />
                </ExampleSnippet>
            </DocsPageSection>

            <DocsPageSection Title="Disabled">
                <ExampleSnippet Code="ButtonDisabled">
                    <ButtonDisabled />
                </ExampleSnippet>
            </DocsPageSection>

            <DocsPageSection Title="With Icons">
                <ExampleSnippet Code="ButtonWithIcons">
                    <ButtonWithIcons />
                </ExampleSnippet>
            </DocsPageSection>

            <DocsPageSection Title="Icon Only">
                <ExampleSnippet Code="ButtonIconOnly">
                    <ButtonIconOnly />
                </ExampleSnippet>
            </DocsPageSection>

            <DocsPageSection Title="Custom Styles">
                <ExampleSnippet Code="ButtonCustomStyles">
                    <ButtonCustomStyles />
                </ExampleSnippet>
            </DocsPageSection>

        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
