.token.tag,
.token.function {
    @apply text-orange-400;
}

.token.attr-name {
    @apply text-zinc-300;
}

.token.attr-value {
    @apply text-indigo-300;
}

.token.punctuation,
.token.attr-equals {
    @apply text-zinc-500;
}

.token.comment {
    @apply text-zinc-400;
}

.line-highlight {
    @apply absolute inset-x-0 mt-[1.25rem] border-l-4 border-indigo-400 bg-indigo-400/15 pointer-events-none;
}

pre[data-line] {
    @apply relative;
}

pre[class^='language-diff-'] {
    @apply flex px-9;
}

    pre[class^='language-diff-'] > code {
        @apply flex-none min-w-full;
    }
