<div class="flex items-center gap-4">
    <LumexChip Size="@Size.Small">Small</LumexChip>
    <LumexChip Size="@Size.Medium">Medium</LumexChip>
    <LumexChip Size="@Size.Large">Large</LumexChip>
</div>