@namespace LumexUI
@inherits LumexComponentBase

<div @attributes="@AdditionalAttributes" class="@RootClass" style="@RootStyle">
    @ChildContent
</div>

@code {
    /// <summary>
    /// Defines the content to be rendered inside the container.
    /// </summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Defines the breakpoint until which the <see cref="LumexContainer"/> will be full-width.
    /// </summary>
    /// <remarks>Default value is <see cref="Breakpoint.Xs"/></remarks>
    [Parameter] public Breakpoint Breakpoint { get; set; }

    protected override string RootClass =>
        new CssBuilder()
            .AddClass( "lumex-container", when: Breakpoint is Breakpoint.Xs )
            .AddClass( $"lumex-{Breakpoint.ToDescription()}:container", when: Breakpoint is not Breakpoint.Xs )
            .AddClass( base.RootClass )
        .Build();
}
