@namespace LumexUI.Docs.Client.Components

<div class="@RootClass">
    <LumexIcon Icon="@_icon"
               Color="@ThemeColor.None"
               Class="mt-1.5 shrink-0" />
    <div>
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public CalloutVariant Variant { get; set; }

    private string RootClass => ElementClass.Empty()
        .Add( "flex" )
        .Add( "p-4" )
        .Add( "my-6" )
        .Add( "gap-3" )
        .Add( "border" )
        .Add( "rounded-xl" )
        .Add( "bg-info-50/20 border-info-100 text-info-800", when: Variant is CalloutVariant.Info )
        .Add( "bg-danger-50/20 border-danger-100 text-danger-800", when: Variant is CalloutVariant.Danger )
        .Add( "bg-warning-50/20 border-warning-100 text-warning-800", when: Variant is CalloutVariant.Warning )
        .Add( "bg-success-50/20 border-success-100 text-success-800", when: Variant is CalloutVariant.Success )
        .Add( "bg-secondary-50/20 border-secondary-100 text-secondary-800", when: Variant is CalloutVariant.Tip )
        .ToString();

    private string _icon = default!;

    protected override void OnInitialized()
    {
        _icon = Variant switch
        {
            CalloutVariant.Info => Icons.Rounded.Info,
            CalloutVariant.Warning => Icons.Rounded.Warning,
            CalloutVariant.Danger => Icons.Rounded.Dangerous,
            CalloutVariant.Success => Icons.Rounded.CheckCircle,
            CalloutVariant.Tip => Icons.Rounded.Lightbulb,
            _ => throw new NotImplementedException()
        };
    }
}
