<div class="w-full flex flex-wrap gap-4 md:flex-nowrap">
    <LumexNumbox TValue="double?" Label="Temperature °C" />
    <LumexNumbox TValue="double?" Label="Temperature °C" Placeholder="Enter the temperature" />
</div>
