@import '../essentials/variables';

// Variants

$solid: (
    primary: (
        bg: var(--#{$prefix}-primary),
        text: var(--#{$prefix}-primary-foreground)
    ),
    secondary: (
        bg: var(--#{$prefix}-secondary),
        text: var(--#{$prefix}-secondary-foreground)
    ),
    success: (
        bg: var(--#{$prefix}-success),
        text: var(--#{$prefix}-success-foreground)
    ),
    warning: (
        bg: var(--#{$prefix}-warning),
        text: var(--#{$prefix}-warning-foreground)
    ),
    danger: (
        bg: var(--#{$prefix}-danger),
        text: var(--#{$prefix}-danger-foreground)
    ),
    info: (
        bg: var(--#{$prefix}-info),
        text: var(--#{$prefix}-info-foreground)
    ),
    default: (
        bg: var(--#{$prefix}-default),
        text: var(--#{$prefix}-default-foreground)
    )
);

$outlined: (
    primary: (
        text: var(--#{$prefix}-primary),
        border: var(--#{$prefix}-primary)
    ),
    secondary: (
        text: var(--#{$prefix}-secondary),
        border: var(--#{$prefix}-secondary)
    ),
    success: (
        text: var(--#{$prefix}-success),
        border: var(--#{$prefix}-success)
    ),
    warning: (
        text: var(--#{$prefix}-warning),
        border: var(--#{$prefix}-warning)
    ),
    danger: (
        text: var(--#{$prefix}-danger),
        border: var(--#{$prefix}-danger)
    ),
    info: (
        text: var(--#{$prefix}-info),
        border: var(--#{$prefix}-info)
    ),
    default: (
        text: var(--#{$prefix}-default-foreground),
        border: var(--#{$prefix}-default)
    )
);

$flat: (
    primary: (
        bg: var(--#{$prefix}-primary-50),
        text: var(--#{$prefix}-primary)
    ),
    secondary: (
        bg: var(--#{$prefix}-secondary-50),
        text: var(--#{$prefix}-secondary)
    ),
    success: (
        bg: var(--#{$prefix}-success-50),
        text: var(--#{$prefix}-success-600)
    ),
    warning: (
        bg: var(--#{$prefix}-warning-50),
        text: var(--#{$prefix}-warning-600)
    ),
    danger: (
        bg: var(--#{$prefix}-danger-50),
        text: var(--#{$prefix}-danger-600)
    ),
    info: (
        bg: var(--#{$prefix}-info-50),
        text: var(--#{$prefix}-info-600)
    ),
    default: (
        bg: var(--#{$prefix}-default-50),
        text: var(--#{$prefix}-default-900)
    )
);

$shadow: (
    primary: (
        bg: var(--#{$prefix}-primary),
        text: var(--#{$prefix}-primary-foreground),
        shadow: var(--#{$prefix}-primary) / .4
    ),
    secondary: (
        bg: var(--#{$prefix}-secondary),
        text: var(--#{$prefix}-secondary-foreground),
        shadow: var(--#{$prefix}-secondary) / .4
    ),
    success: (
        bg: var(--#{$prefix}-success),
        text: var(--#{$prefix}-success-foreground),
        shadow: var(--#{$prefix}-success) / .4
    ),
    warning: (
        bg: var(--#{$prefix}-warning),
        text: var(--#{$prefix}-warning-foreground),
        shadow: var(--#{$prefix}-warning) / .4
    ),
    danger: (
        bg: var(--#{$prefix}-danger),
        text: var(--#{$prefix}-danger-foreground),
        shadow: var(--#{$prefix}-danger) / .4
    ),
    info: (
        bg: var(--#{$prefix}-info),
        text: var(--#{$prefix}-info-foreground),
        shadow: var(--#{$prefix}-info) / .4
    ),
    default: (
        bg: var(--#{$prefix}-default),
        text: var(--#{$prefix}-default-foreground),
        shadow: var(--#{$prefix}-default) / .4
    )
);

$ghost: (
    primary: (
        bg-hover: var(--#{$prefix}-primary),
        text: var(--#{$prefix}-primary),
        text-hover: var(--#{$prefix}-primary-foreground),
        border: var(--#{$prefix}-primary)
    ),
    secondary: (
        bg-hover: var(--#{$prefix}-secondary),
        text: var(--#{$prefix}-secondary),
        text-hover: var(--#{$prefix}-secondary-foreground),
        border: var(--#{$prefix}-secondary)
    ),
    success: (
        bg-hover: var(--#{$prefix}-success),
        text: var(--#{$prefix}-success),
        text-hover: var(--#{$prefix}-success-foreground),
        border: var(--#{$prefix}-success)
    ),
    warning: (
        bg-hover: var(--#{$prefix}-warning),
        text: var(--#{$prefix}-warning),
        text-hover: var(--#{$prefix}-warning-foreground),
        border: var(--#{$prefix}-warning)
    ),
    danger: (
        bg-hover: var(--#{$prefix}-danger),
        text: var(--#{$prefix}-danger),
        text-hover: var(--#{$prefix}-danger-foreground),
        border: var(--#{$prefix}-danger)
    ),
    info: (
        bg-hover: var(--#{$prefix}-info),
        text: var(--#{$prefix}-info),
        text-hover: var(--#{$prefix}-info-foreground),
        border: var(--#{$prefix}-info)
    ),
    default: (
        bg-hover: var(--#{$prefix}-default),
        text: var(--#{$prefix}-default),
        text-hover: var(--#{$prefix}-default-foreground),
        border: var(--#{$prefix}-default)
    )
);

$light: (
    primary: (
        text: var(--#{$prefix}-primary)
    ),
    secondary: (
        text: var(--#{$prefix}-secondary)
    ),
    success: (
        text: var(--#{$prefix}-success)
    ),
    warning: (
        text: var(--#{$prefix}-warning)
    ),
    danger: (
        text: var(--#{$prefix}-danger)
    ),
    info: (
        text: var(--#{$prefix}-info)
    ),
    default: (
        text: var(--#{$prefix}-default)
    )
);

$variants: (
    solid: $solid,
    outlined: $outlined,
    flat: $flat,
    shadow: $shadow,
    ghost: $ghost,
    light: $light
);