@rendermode InteractiveAuto

<div class="space-y-6">
    <PreviewCode Code="@new(name: null, snippet: "VariantLight")">
        <LumexUI.Docs.Client.Pages.Components.Accordion.Examples.VariantLight />
    </PreviewCode>

    <PreviewCode Code="@new(name: null, snippet: "VariantShadow")">
        <LumexUI.Docs.Client.Pages.Components.Accordion.Examples.VariantShadow />
    </PreviewCode>

    <PreviewCode Code="@new(name: null, snippet: "VariantBordered")">
        <LumexUI.Docs.Client.Pages.Components.Accordion.Examples.VariantBordered />
    </PreviewCode>

    <PreviewCode Code="@new(name: null, snippet: "VariantSplitted")">
        <LumexUI.Docs.Client.Pages.Components.Accordion.Examples.VariantSplitted />
    </PreviewCode>
</div>