@namespace LumexUI.TestComponents.MediaQuery

@inject IMediaQueryListener BreakpointListener

@if( BreakpointListener.Matched )
{
    <p>Matched</p>
}
else
{
    <p>Unmatched</p>
}

@code {
    protected override async Task OnAfterRenderAsync( bool firstRender )
    {
        if( firstRender )
        {
            await BreakpointListener.MatchAsync( Breakpoints.MediumUp, StateHasChanged );
        }
    }
}
