$pink: ( 
    pink-50: #FFF0F8,
    pink-100: #FFD6EB,
    pink-200: #FAA8D1,
    pink-300: #F47BB2,
    pink-400: #F3599C,
    pink-500: #E24084,
    pink-600: #C4175F,
    pink-700: #9D174D,
    pink-800: #810E3C,
    pink-900: #4A0722 
);

$rose: ( 
    rose-50: #FFF0F2,
    rose-100: #FFD1D9,
    rose-200: #FFA3AF,
    rose-300: #F97183,
    rose-400: #F54761,
    rose-500: #DB1F48,
    rose-600: #C91841,
    rose-700: #9D153C,
    rose-800: #801434,
    rose-900: #510B20 
);

$red: ( 
    red-50: #FFF0F0,
    red-100: #FFD1D1,
    red-200: #FCA6A6,
    red-300: #FB6F6F,
    red-400: #FB5050,
    red-500: #ED4040,
    red-600: #DE2B2B,
    red-700: #9D1515,
    red-800: #821C1C,
    red-900: #420000 
);

$orange: ( 
    orange-50: #FFF7F0,
    orange-100: #FFE3CC,
    orange-200: #FABF8F,
    orange-300: #FBA665,
    orange-400: #F68D3C,
    orange-500: #F07828,
    orange-600: #D15D10,
    orange-700: #A7450C,
    orange-800: #7F2B0A,
    orange-900: #4E1C09 
);

$yellow: ( 
    yellow-50: #FFFCEB,
    yellow-100: #FFF5C2,
    yellow-200: #FDE786,
    yellow-300: #FEDE6D,
    yellow-400: #FAC71E,
    yellow-500: #F5B40F,
    yellow-600: #CA8907,
    yellow-700: #A8610B,
    yellow-800: #733C11,
    yellow-900: #48250E 
);

$green: ( 
    green-50: #F0FFF3,
    green-100: #D1FFDC,
    green-200: #A0FDB6,
    green-300: #7AEB94,
    green-400: #52E075,
    green-500: #2AB74F,
    green-600: #19A347,
    green-700: #137736,
    green-800: #0B4B24,
    green-900: #062D15 
);

$teal: ( 
    teal-50: #ECFDF5,
    teal-100: #D3FDE8,
    teal-200: #A8FAD1,
    teal-300: #85F4BD,
    teal-400: #0DD38E,
    teal-500: #0EB980,
    teal-600: #0E9A6B,
    teal-700: #0F7152,
    teal-800: #064C39,
    teal-900: #012D24 
);

$light-blue: ( 
    light-blue-50: #F0FBFF,
    light-blue-100: #DBF5FF,
    light-blue-200: #B5E8FD,
    light-blue-300: #78D1FC,
    light-blue-400: #34BDFC,
    light-blue-500: #049FE7,
    light-blue-600: #0480B9,
    light-blue-700: #076997,
    light-blue-800: #0D4A73,
    light-blue-900: #082A45 
);

$blue: ( 
    blue-50: #F0F8FF,
    blue-100: #D7EBFE,
    blue-200: #B4D9FD,
    blue-300: #7FBDFA,
    blue-400: #4893F4,
    blue-500: #227AEC,
    blue-600: #1D5BD8,
    blue-700: #19419F,
    blue-800: #153279,
    blue-900: #0F1C43 
);

$indigo: ( 
    indigo-50: #F0F2FF,
    indigo-100: #E1E6FE,
    indigo-200: #C3CFFE,
    indigo-300: #93A4FB,
    indigo-400: #6E77F7,
    indigo-500: #5E62E4,
    indigo-600: #474CD7,
    indigo-700: #3935BB,
    indigo-800: #2A2583,
    indigo-900: #1D1B4B 
);

$violet: ( 
    violet-50: #F4F0FF,
    violet-100: #E8E1FF,
    violet-200: #D8CDFE,
    violet-300: #B5A1FC,
    violet-400: #9F7DFC,
    violet-500: #8050F2,
    violet-600: #6A29DB,
    violet-700: #5D27B9,
    violet-800: #451A8E,
    violet-900: #311560 
);

$gray: ( 
    gray-50: #FAFAFA,
    gray-100: #F4F4F5,
    gray-200: #E4E4E7,
    gray-300: #CACACE,
    gray-400: #9C9CA5,
    gray-500: #52525B,
    gray-600: #3F3F46,
    gray-700: #27272A,
    gray-800: #18181B,
    gray-900: #09090B 
);
