<div class="flex flex-wrap gap-4">
    @foreach (var radius in Enum.GetValues<Radius>())
    {
        <LumexTabs Radius="@radius">
            <LumexTab Id="@("photos")" Title="Photos" />
            <LumexTab Id="@("music")" Title="Music" />
            <LumexTab Id="@("videos")" Title="Videos" />
        </LumexTabs>
    }
</div>
