<div class="flex flex-wrap gap-4">
    @foreach (var radius in Enum.GetValues<Radius>())
    {
        <LumexTabs Radius="@radius">
            <LumexTab Title="Photos" />
            <LumexTab Title="Music" />
            <LumexTab Title="Videos" />
        </LumexTabs>
    }
</div>
