<div class="flex flex-wrap gap-4">
    @foreach (var color in Enum.GetValues<ThemeColor>()[1..])
    {
        <LumexTabs Color="@color">
            <LumexTab Id="@("photos")" Title="Photos" />
            <LumexTab Id="@("music")" Title="Music" />
            <LumexTab Id="@("videos")" Title="Videos" />
        </LumexTabs>
    }
</div>
