<div class="flex flex-wrap gap-4">
    @foreach (var color in Enum.GetValues<ThemeColor>()[1..])
    {
        <LumexTabs Color="@color">
            <LumexTab Title="Photos" />
            <LumexTab Title="Music" />
            <LumexTab Title="Videos" />
        </LumexTabs>
    }
</div>
