<div class="flex flex-wrap gap-4">
    @foreach (var size in Enum.GetValues<Size>())
    {
        <LumexTabs Size="@size">
            <LumexTab Title="Photos" />
            <LumexTab Title="Music" />
            <LumexTab Title="Videos" />
        </LumexTabs>
    }
</div>
