<div class="flex flex-wrap gap-4">
    @foreach (var variant in Enum.GetValues<TabVariant>())
    {
        <LumexTabs Variant="@variant">
            <LumexTab Title="Photos" />
            <LumexTab Title="Music" />
            <LumexTab Title="Videos" />
        </LumexTabs>
    }
</div>
