<div class="flex gap-4 items-center">
    <LumexAvatar Src="https://images.unsplash.com/broken">
        <FallbackContent>
            <LumexIcon Icon="@Icons.Rounded.PhotoCamera"
                       Class="animate-pulse text-default-500" />
        </FallbackContent>
    </LumexAvatar>
    <LumexAvatar Name="John Doe" Src="https://images.unsplash.com/broken" />
    <LumexAvatar ShowFallback="@false" Name="Jane" Src="https://images.unsplash.com/broken" />
</div>