<LumexAvatarGroup Max="3" Bordered="@true">
    <CountContent Context="count">
        <p class="text-small text-foreground font-medium ms-2">+@count others</p>
    </CountContent>
    <ChildContent>
        <LumexAvatar Src="https://i.pravatar.cc/150?img=2" />
        <LumexAvatar Src="https://i.pravatar.cc/150?img=6" />
        <LumexAvatar Src="https://i.pravatar.cc/150?img=9" />
        <LumexAvatar Src="https://i.pravatar.cc/150?img=11" />
        <LumexAvatar Src="https://i.pravatar.cc/150?img=12" />
        <LumexAvatar Src="https://i.pravatar.cc/150?img=24" />
    </ChildContent>
</LumexAvatarGroup>