<div class="flex gap-4 items-center">
    <LumexAvatar Src="https://i.pravatar.cc/150?img=2" />
    <LumexAvatar Name="Daniel" />
    <LumexAvatar Src="https://i.pravatar.cc/150?img=6" />
    <LumexAvatar Name="John Doe" />
    <LumexAvatar Src="https://i.pravatar.cc/150?img=9" />
    <LumexAvatar Name="Jane" />
</div>