@namespace LumexUI
@inherits LumexComponentBase

<nav @attributes="@AdditionalAttributes" class="@RootClass" style="@RootStyle">
	<ul class="@NavItemsCssClass">
		@ChildContent
	</ul>
</nav>

@code {
	/// <summary>
	/// Defines the content to be rendered inside the navigation menu.
	/// </summary>
	[Parameter] public RenderFragment? ChildContent { get; set; }

	/// <summary>
	/// Defines the orientation of the navigation menu.
	/// </summary>
	/// <remarks>Default value: <see cref="Orientation.Horizontal"/></remarks>
	[Parameter] public Orientation Orientation { get; set; }

	protected override string RootClass =>
		new CssBuilder( "lumex-nav-menu" )
			.AddClass( base.RootClass )
		.Build();

	private string NavItemsCssClass =>
		new CssBuilder( "lumex-nav-items" )
			.AddClass( "lumex-nav-items--vertical", when: Orientation is Orientation.Vertical )
		.Build();
}
