// Variables


$prefix: "lumex";


// Theme Colors

$theme-colors: ( 
    primary 
    secondary 
    success 
    warning 
    danger 
    info
    default
);                    
                       

// Grid Breakpoints

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);


// Grid Containers

$container-max-widths: ( 
    sm: 540px, 
    md: 720px, 
    lg: 960px, 
    xl: 1140px, 
    xxl: 1320px 
);


// Spacing

$spacer:                            1rem;
$spacers: (
    0: 0,
    px: 1px,
    0\.5: $spacer * .125,
    1: $spacer * .25,
    1\.5: $spacer * .375,
    2: $spacer * .5,
    2\.5: $spacer * .625,
    3: $spacer * .75,
    3\.5: $spacer * .875,
    4: $spacer,
    5: $spacer * 1.25,
    6: $spacer * 1.5,
    7: $spacer * 1.75,
    8: $spacer * 2,
    9: $spacer * 2.25,
    10: $spacer * 2.5,
    12: $spacer * 3,
    14: $spacer * 3.5,
    16: $spacer * 4,
    20: $spacer * 5 
) ;


// Border Sizes

$border-sizes: (
    none: 0,
	xs: var(--lumex-border-xs),
	sm: var(--lumex-border-sm),
	md: var(--lumex-border-md),
	lg: var(--lumex-border-lg),
	xl: var(--lumex-border-xl),
	xxl: var(--lumex-border-xxl),
	full: var(--lumex-border-full)
);


// Fonts

$font-size-base:					1rem ;
$font-size-xs:					    $font-size-base * .75;
$font-size-sm:					    $font-size-base * .875;
$font-size-lg:					    $font-size-base * 1.125;
$font-size-xl:                      $font-size-base * 1.25;
$font-size-2xl:                     $font-size-base * 1.5;
$font-size-3xl:                     $font-size-base * 2;

$h1-font-size:						$font-size-base * 2.5;
$h2-font-size:						$font-size-base * 2;
$h3-font-size:						$font-size-base * 1.75;
$h4-font-size:						$font-size-base * 1.5;
$h5-font-size:						$font-size-base * 1.25;
$h6-font-size:						$font-size-base;

$font-sizes: (
    xs: $font-size-xs,
    sm: $font-size-sm,
    base: $font-size-base,
    lg: $font-size-lg,
    xl: $font-size-xl,
    2xl: $font-size-2xl,
    3xl: $font-size-3xl,
    h6: $h6-font-size,
    h5: $h5-font-size,
    h4: $h4-font-size,
    h3: $h3-font-size,
    h2: $h2-font-size,
    h1: $h1-font-size
) ;

$font-weight-thin:                  100;
$font-weight-extralight:            200;
$font-weight-light:                 300;
$font-weight-normal:                400;
$font-weight-medium:                500;
$font-weight-semibold:              600;
$font-weight-bold:                  700;
$font-weight-extrabold:             800;
$font-weight-black:                 900;
$font-weight-lighter:               lighter;
$font-weight-bolder:                bolder;
$font-weight-base:                  $font-weight-normal;

$font-weights: (
    thin: $font-weight-thin,
    extralight: $font-weight-extralight,
    light: $font-weight-light,
    normal: $font-weight-normal,
    medium: $font-weight-medium,
    semibold: $font-weight-semibold,
    bold: $font-weight-bold,
    extrabold: $font-weight-extrabold,
    black: $font-weight-black,
    lighter: $font-weight-lighter,
    bolder: $font-weight-bolder
);

$line-heights: (
    none: 1,
    tight: 1.25,
    normal: 1.5,
    loose: 2,
    3: map-get($spacers, 3),
    4: map-get($spacers, 4),
    5: map-get($spacers, 5),
    6: map-get($spacers, 6),
    7: map-get($spacers, 7),
    8: map-get($spacers, 8),
);


// Components' Appearance
//
// Common paddings, border radius sizes, shadows and more.


// Toolbar

$toolbar-gutter-x:                  $spacer;
$toolbar-gutter-y:                  $spacer;
$toolbar-font-size:                 $font-size-sm;


// Icon

$icon-font-size:                    $font-size-2xl;
$icon-font-size-sm:                 $font-size-xl;
$icon-font-size-lg:                 $font-size-3xl;


// Input

$input-bg:                          null;
$input-color:                       var(--lumex-body-color);
$input-label-color:                 var(--lumex-secondary);
$input-placeholder-color:           var(--lumex-body-secondary-color);

$input-padding-y:                   .8125rem;
$input-padding-x:                   .75rem;
$input-font-size:                   $font-size-base;
$input-border-radius:               var(--lumex-border-md);

$input-padding-y-sm:                .625rem;
$input-padding-x-sm:                .5rem;
$input-font-size-sm:                $font-size-sm;
$input-border-radius-sm:            var(--lumex-border-sm);

$input-padding-y-lg:                1rem;
$input-padding-x-lg:                1rem;
$input-font-size-lg:                $font-size-lg;
$input-border-radius-lg:            var(--lumex-border-lg);

$input-bg-disabled:                 var(--lumex-disabled);
$input-color-disabled:              var(--lumex-body-tertiary-color);


// Stepper

$stepper-gutter-x:                  $spacer;
$stepper-gutter-y:                  $spacer * .5;

$step-label-font-size:              $font-size-sm;
$step-label-font-weight:            $font-weight-semibold;

$step-font-size:                    $font-size-sm;


// Drawer

$drawer-padding-x:                  $spacer * 1.25;
$drawer-padding-y:                  $spacer * 1.25;
$drawer-width:                      300px;
$drawer-color:                      var(--lumex-body-color);
$drawer-bg:                         var(--lumex-body-bg);
$drawer-transition-duration:        var(--lumex-transition-duration);
$drawer-transition-timing:          var(--lumex-transition-timing);


// Overlay

$overlay-bg-dark:                   rgba(0 0 0 / .3);


// Z-index

$zindex-overlay:					1000;
$zindex-dropdown:					1100;
$zindex-sticky:					    1200;
$zindex-drawer:						1300;

$zindex-levels: (
    0: 0,
    10: 10,
    20: 20,
    30: 30,
    40: 40,
    50: 50
);