:root {
	--hl00: 247, 247, 247;
	--hl01: 245, 139, 64;
	--hl02: 240, 113, 117;
	--hl03: 17, 176, 129;
	--hl04: #E36385;
	--hl05: #8A8598;
	--hl06: #A3A0AE;
	--hl07: #BDBAC5;
}

.token.doctype {
	color: rgb(var(--hl00));
}

.token.attr-value,
.token.class-name,
.token.function {
	color: rgb(var(--hl01));
}

.token.tag {
	color: var(--hl04);
}

.token.punctuation {
	color: var(--hl05);
}

.token.comment {
	color: var(--hl06);
}

.token.atrule,
.token.attr-name,
.token.keyword,
.token.namespace {
	color: var(--hl07);
}

.token.cdata,
.token.prolog {
	color: #708090
}

.token.boolean,
.token.constant,
.token.number,
.token.property,
.token.symbol {
	color: #905
}

.token.builtin,
.token.char,
.token.selector,
.token.string {
	color: #690
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
	color: #9a6e3a;
	background: hsla(0,0%,100%,.5)
}


/* Line Highlight */

pre[datlumex-line] {
	position: relative;
	padding: 1em 0 1em 3em
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: hsla(24,20%,50%,.08);
	background: linear-gradient(to right,hsla(24,20%,50%,.1) 70%,hsla(24,20%,50%,0));
	pointer-events: none;
	line-height: inherit;
	white-space: pre
}

.line-highlight:before,
.line-highlight[datlumex-end]:after {
	content: attr(datlumex-start);
	position: absolute;
	top: .4em;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	background-color: hsla(24,20%,50%,.4);
	color: #f4f1ef;
	font: bold 65%/1.5 sans-serif;
	text-align: center;
	vertical-align: .3em;
	border-radius: 999px;
	text-shadow: none;
	box-shadow: 0 1px #fff
}

.line-highlight[datlumex-end]:after {
	content: attr(datlumex-end);
	top: auto;
	bottom: .4em
}

.line-numbers .line-highlight:after,
.line-numbers .line-highlight:before {
	content: none
}

pre[id].linkable-line-numbers span.line-numbers-rows {
	pointer-events: all
}

	pre[id].linkable-line-numbers span.line-numbers-rows > span:before {
		cursor: pointer
	}

	pre[id].linkable-line-numbers span.line-numbers-rows > span:hover:before {
		background-color: rgba(128,128,128,.2)
	}


/* Diff Highlight */

pre > code.diff-highlight .token.inserted:not(.prefix),
pre > code.diff-highlight .token.deleted:not(.prefix) {
	display: block;
	padding-inline: 1rem;
	margin-inline: -1.25rem;
	border-left-width: .25rem;
}

pre > code.diff-highlight .token.inserted:not(.prefix) {
	border-color: rgb(var(--hl03));
	background-color: rgba(var(--hl03), .1);
}

.token.inserted {
	color: rgb(var(--hl03));
}

pre > code.diff-highlight .token.deleted:not(.prefix) {
	border-color: rgb(var(--hl02));
	background-color: rgba(var(--hl02), .1);
}

.token.deleted {
	color: rgb(var(--hl02));
}