// Typography


@font-face {
	font-family: Montserrat var;
	font-weight: 300 900;
	font-display: block;
	font-style: normal;
	src: url(/webassembly/_content/LumexUI.Docs/assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype") tech(variations), 
		 url(/webassembly/_content/LumexUI.Docs/assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype-variations"),
}

@font-face {
	font-family: Inter var;
	font-weight: 300 900;
	font-display: block;
	font-style: normal;
	src: url(/webassembly/_content/LumexUI.Docs/assets/fonts/Inter-VariableFont_slnt,wght.ttf) format("truetype") tech(variations), 
		 url(/webassembly/_content/LumexUI.Docs/assets/fonts/Inter-VariableFont_slnt,wght.ttf) format("truetype-variations"),
}

@font-face {
	font-family: Fira Code var;
	font-weight: 300 700;
	font-display: block;
	font-style: normal;
	src: url(/webassembly/_content/LumexUI.Docs/assets/fonts/FiraCode-VariableFont_wght.ttf) format("truetype") tech(variations), 
		 url(/webassembly/_content/LumexUI.Docs/assets/fonts/FiraCode-VariableFont_wght.ttf) format("truetype-variations"),
}