@foreach( var shadow in _shadows )
{
    <LumexPopover Shadow="@shadow">
        <LumexPopoverTrigger Color="@ThemeColor.Success"
                             Variant="@Variant.Flat">
            @shadow.ToString()
        </LumexPopoverTrigger>
        <LumexPopoverContent>
            <div class="px-1 py-2">
                <div class="text-small font-bold">Oh, hi there!</div>
                <div>I am the popover content</div>
            </div>
        </LumexPopoverContent>
    </LumexPopover>
}

@code {
    private readonly Shadow[] _shadows = [
        Shadow.None,
        Shadow.Small,
        Shadow.Medium,
        Shadow.Large
    ];
}