@using LumexUI.Services

@inject IPopoverService PopoverService

<LumexButton OnClick="@TriggerAsync"
             data-popoverref="@_popoverId">
    Open Popover
</LumexButton>

<LumexPopover Id="@_popoverId">
    <LumexPopoverContent>
        <div class="px-1 py-2">
            <div class="text-small font-bold">Oh, hi there!</div>
            <div class="text-tiny">I am the popover content</div>
        </div>
    </LumexPopoverContent>
</LumexPopover>

@code {
    private string _popoverId = "popover-usage";

    private Task TriggerAsync()
    {
        return PopoverService.TriggerAsync(_popoverId);
    }
}