<LumexPopover>
    <LumexPopoverTrigger>
        Open Popover
    </LumexPopoverTrigger>
    <LumexPopoverContent>
        <div class="px-1 py-2">
            <div class="text-small font-bold">Oh, hi there!</div>
            <div class="text-tiny">I am the popover content</div>
        </div>
    </LumexPopoverContent>
</LumexPopover>
