// Code snippet


.ad-code-snippet {
	background-color: var(--ad-pre-bg);
	border-width: 1px;
	border-radius: var(--lumex-border-xl);

	&-toolbar {
		--lumex-toolbar-gutter-x: 0;
		--lumex-toolbar-gutter-y: 0;

		& > div {
			border-bottom: 1px solid var(--lumex-border-color);

			& > span {
				margin-bottom: calc(-1 * 1px);
				border: 1px solid transparent;

				&.lumex-active {
					font-weight: 500;
					color: rgb(var(--lumex-primary));
					border-bottom-color: rgb(var(--lumex-primary));
				}
			}
		}

		& > span:not(:first-of-type) {
			border-left: 1px solid var(--lumex-border-color);
		}
	}

	& > pre {
		display: flex;
		padding: 1.25rem;
	}
}