// Docs table of contents


.ad-toc {
	grid-area: toc;

	@media (min-width: 992px) {
		position: sticky;
		top: 6.5625rem; // header + main padding (65px + 40px)
		right: 0;
		height: calc(100vh - 6.5625rem);
		overflow-y: auto;
	}

	& .lumex-nav-menu {
		--lumex-nav-link-padding-x: 0;
		--lumex-nav-link-padding-y: .25rem;
	}

	& .lumex-nav-link {
		& .lumex-icon {
			--lumex-icon-font-size: 1rem;
			opacity: 0;
		}

		&.lumex-active,
		&:hover {
			color: rgb(var(--lumex-primary));

			& .lumex-icon {
				opacity: 1;
			}
		}
	}
}