// Docs table of contents


.ld-toc {
	grid-area: toc;

	@media (min-width: 992px) {
		position: sticky;
		top: 6.5625rem; // header + main padding (65px + 40px)
		right: 0;
		height: calc(100vh - 6.5625rem);
		overflow-y: auto;
	}

	& .LumexNav {
		&-root {
			--LumexNav-link-padding-x: 0;
			--LumexNav-link-padding-y: .25rem;
		}

		&-link {
			& .lumex-icon {
				--lumex-icon-font-size: 1rem;
				opacity: 0;
			}

			&:hover {
				& .lumex-icon {
					opacity: 1;
				}
			}
		}
	}
}
