// Installation steps


.ad-install-step {
	&-description {
		max-width: 60ch;
		grid-column: auto / span 5;
	}

	.lumex-step-content > :first-child {
		grid-template-columns: repeat(12,minmax(0,1fr));
	}

	.ad-code-snippet {
		grid-column: auto / span 7;
	}
}
