@import '../../essentials/variables';
@import '../../essentials/mixins/mixins';

// Appbar

%container-flex-properties {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.lumex-appbar {
	--lumex-appbar-padding-x: #{$appbar-padding-x};
	--lumex-appbar-padding-y: #{$appbar-padding-y};
	--lumex-appbar-color: #{$appbar-color};
	--lumex-appbar-bg: transparent;
}

.lumex-appbar {
	position: relative;
	display: flex;
	padding: var(--lumex-appbar-padding-y) var(--lumex-appbar-padding-x);
	color: var(--lumex-appbar-color);
	background-color: var(--lumex-appbar-bg);

	&.lumex-sticky {
		@include sticky-top;
	}

	& > .lumex-container {
		@extend %container-flex-properties;
	}

	@each $breakpoint in map-keys($breakpoints) {
		& > .lumex-#{breakpoint-prefix($breakpoint)}container {
			@extend %container-flex-properties;
		}
	}

	& .lumex-nav-menu {
		--lumex-nav-link-color: var(--lumex-appbar-color);
	}
}
