@import '../../essentials/variables';
@import '../../essentials/mixins/mixins';

// Navbar

.LumexNavbar {
	&-root {
		--LumexNavbar-height: #{map-get($spacers, 16)};
		--LumexNavbar-padding-x: #{map-get($spacers, 0)};
		--LumexNavbar-padding-y: #{map-get($spacers, 3)};
		--LumexNavbar-color: var(--#{$prefix}-body-accent-color);
		--LumexNavbar-bg: transparent;
		--LumexNavbar-brand-gap: #{map-get($spacers, 2)};
		--LumexNavbar-content-gap: #{map-get($spacers, 4)};
	}

	&-content {
		--LumexNavbar-link-padding-x: #{map-get($spacers, 0)};
		--LumexNavbar-link-padding-y: #{map-get($spacers, 0)};
		--LumexNavbar-link-font-size: #{map-get($font-sizes, sm)};
		--LumexNavbar-link-font-weight: #{map-get($font-weights, normal)};
		--LumexNavbar-link-color: var(--#{$prefix}-body-color);
	}
}

.LumexNavbar {
	&-root {
		position: relative;
		height: var(--LumexNavbar-height);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: var(--LumexNavbar-padding-y) var(--LumexNavbar-padding-x);
		background-color: var(--LumexNavbar-bg);

		%container-flex-properties {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		& > .lumex-container {
			@extend %container-flex-properties;
		}

		@each $breakpoint in map-keys($breakpoints) {
			& > .lumex-#{breakpoint-prefix($breakpoint)}container {
				@extend %container-flex-properties;
			}
		}
	}

	&-brand {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: var(--LumexNavbar-brand-gap);
	}

	&-content {
		display: flex;
		flex-direction: column;
		gap: var(--LumexNavbar-content-gap);
		@include list-unstyled;
	}

	&-link {
		display: block;
		padding: var(--LumexNavbar-link-padding-y) var(--LumexNavbar-link-padding-x);
		font-size: var(--LumexNavbar-link-font-size);
		font-weight: var(--LumexNavbar-link-font-weight);
		color: var(--LumexNavbar-link-color);
		text-decoration: none;
	}

	&--sticky {
		@include sticky-top;
	}

	&--bordered {
		border-bottom-width: 1px;
	}

	@each $breakpoint in map-keys($breakpoints) {
		&-#{$breakpoint} {
			@include media-breakpoint-from($breakpoint) {
				.LumexNavbar-content {
					align-items: center;
					flex-direction: row;
				}
			}
		}
	}
}
