@import '../../essentials/variables';
@import '../../essentials/mixins/mixins';

// Toolbar


.lumex-toolbar {
	--lumex-toolbar-gutter-x: #{$toolbar-gutter-x};
	--lumex-toolbar-gutter-y: #{$toolbar-gutter-y};
	--lumex-toolbar-font-size: #{$toolbar-font-size};
}

.lumex-toolbar {
	display: flex;
	align-items: center;
	gap: var(--lumex-toolbar-gutter-x) var(--lumex-toolbar-gutter-y);
	width: 100%;
	font-size: var(--lumex-toolbar-font-size);
}