@namespace LumexUI.TestComponents.DataGrid

<LumexGrid Data="@_data">
    <Columns>
        <TemplateColumn Title="Name">
            <Template>
                <span>This is custom cell template @context.Name</span>
            </Template>
        </TemplateColumn>
        <Column Property="@(t => t.Price)">
            <Template>
                <span>This is another custom cell template @context.Price</span>
            </Template>
        </Column>
    </Columns>
</LumexGrid>

@code {
    private IQueryable<TestModel> _data = new List<TestModel>()
     {
         new TestModel("Apple", 0.75),
         new TestModel("Banana", 1.0),
         new TestModel("Kiwi", 1.33)
     }.AsQueryable();

    public record TestModel(string Name, double Price);
}
