// Header


.ld-header {
	& .LumexNavbar {
		&-content {
			--LumexNavbar-link-font-weight: 500;
		}
	}

	&:after {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		backdrop-filter: blur(8px) saturate(1.5);
	}
}