// Main layout


.ad-layout {
	@media (min-width: 768px) {
		--ad-gutter-x: 2rem;
	}
}

.ad-layout {
	@media (min-width: 1200px) {
		& > .ad-container {
			display: grid;
			grid-template-areas: "sidebar main";
			grid-template-columns: 1fr 5fr;
			gap: 2.5rem;
		}
	}
}
