// Main


.ad-main {
	display: grid;
	grid-area: main;
	grid-template-areas: "intro" "toc" "content" "footer";
	gap: 3rem;

	& > * {
		min-width: 0;
	}

	@media (min-width: 992px) {
		grid-template-areas: "intro toc" "content toc" "footer toc";
		grid-template-rows: auto 1fr;
		grid-template-columns: 4fr 1fr;
	}
}