// Sidebar


.ld-sidebar {
	@media (min-width: 1200px) {
		grid-area: sidebar;

		& > .lumex-xl\:drawer {
			position: sticky;
			top: 6.5625rem; // header + sidebar padding (65px + 40px)
			height: calc(100vh - 6.5625rem);
			overflow-y: auto;
		}
	}

	& .LumexNav {
		&-root {
			--LumexNav-link-padding-y: 0;
		}

		&-group {
			--LumexNav-link-padding-x: 0;
			--LumexNav-link-font-weight: 600;
			--LumexNav-link-color: var(--lumex-body-accent-color);

			&-content {
				&:has(> .LumexNav-item) {
					border-left-width: 1px;
				}

				&:has(> .ld-sidebar-subgroup) {
					& > li + li {
						margin-top: .25rem;
					}
				}
			}
		}

		&-link {
			border-color: transparent;

			&:hover {
				margin-left: -1px;
				border-left-width: 1px;
				border-color: rgb(var(--lumex-primary));
			}
		}
	}

	&-subgroup {
		h6 {
			position: relative;
			padding: 0 1.25rem 0.5rem;
			font-size: .75rem;
			font-weight: 700;
			line-height: 1.75;
			text-transform: uppercase;
			color: var(--lumex-body-secondary-color);

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: -4px;
				bottom: 8px;
				width: 8px;
				height: 8px;
				margin: auto 0;
				border-width: 1px;
				border-radius: 2px;
				transform: rotate(45deg);
			}

			&:after {
				content: "";
				position: absolute;
				top: 16px;
				left: 0;
				width: 1px;
				height: 13px;
				background: var(--lumex-border-color);
			}
		}
	}
}
