@namespace LumexUI
@inherits LumexComponentBase

<div @attributes="@AdditionalAttributes" class="@RootClass">
	@ChildContent
</div>

@code {
	/// <summary>
	/// Specifies a child contents of this instance.
	/// </summary>
	[Parameter] public RenderFragment? ChildContent { get; set; }

	protected override string RootClass =>
		new CssBuilder( "lumex-toolbar" )
			.AddClass( base.RootClass )
		.Build();
}
