// Utility generator


@mixin generate-utility($utility, $prefix) {
	$values: map-get($utility, values);

	// If the values are a list or string, convert it into a map
	@if type-of($values) == "string" or type-of(nth($values, 1)) != "list" {
		$values: zip($values, $values);
	}

	$properties: map-get($utility, property);

	$property-class: map-get($utility, class);
	$property-class: if($property-class == null, "", $property-class);

	// Use custom class for a specific value
	$property-custom-class: if(map-has-key($utility, custom-class), map-get($utility, custom-class), ());

	$infix: if($property-class == "", "", "-");

	@each $key, $value in $values {
		$infix: if($key, $infix, "");
		$property-class-modifier: if($key, $key, "");

		@if $property-custom-class {
			// Get current value index
			$i: index(($values), ($key $value));

			// Override $property-class-modifier to corresponding custom class value
			@if $i <= length($property-custom-class) {
				$property-class-modifier: nth($property-custom-class, $i);
			}
		}

		.#{ $prefix + $property-class + $infix + $property-class-modifier } {
			@each $property in $properties {
				#{$property}: $value !important;
			}
		}
	}
}
