@import '../../essentials/variables';
@import '../../essentials/mixins/mixins';

// Buttons


.LumexButton-root {
	--LumexButton-min-width: #{map-get($spacers, 20)};
	--LumexButton-gap: #{map-get($spacers, 2)};
	--LumexButton-padding-y: #{map-get($spacers, 1\.5)};
	--LumexButton-padding-x: #{map-get($spacers, 4)};
	--LumexButton-font-size: var(--#{$prefix}-font-size-md);
	--LumexButton-font-weight: var(--#{$prefix}-body-font-weight);
	--LumexButton-line-height: var(--#{$prefix}-line-height-md);
	--LumexButton-color: var(--#{$prefix}-body-color);
	--LumexButton-bg: transparent;
	--LumexButton-border-width: var(--#{$prefix}-border-width);
	--LumexButton-border-color: transparent;
	--LumexButton-border-radius: var(--#{$prefix}-border-md);
	--LumexButton-hover-opacity: var(--#{$prefix}-hover-opacity);
	--LumexButton-disabled-opacity: var(--#{$prefix}-disabled-opacity);
}

.LumexButton {
	&-root {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: var(--LumexButton-gap);
		min-width: var(--LumexButton-min-width);
		padding: var(--LumexButton-padding-y) var(--LumexButton-padding-x);
		font-size: var(--LumexButton-font-size);
		font-weight: var(--LumexButton-font-weight);
		line-height: var(--LumexButton-line-height);
		color: var(--LumexButton-color);
		text-decoration: none;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		border: var(--LumexButton-border-width) solid var(--LumexButton-border-color);
		border-radius: var(--LumexButton-border-radius);
		background-color: var(--LumexButton-bg);
		outline: 2px solid transparent;
		outline-offset: 2px;
		transition-property: transform, color, background-color, border-color, opacity;
		transition-timing-function: var(--#{$prefix}-transition-timing);
		transition-duration: var(--#{$prefix}-transition-duration);

		&:hover {
			opacity: var(--LumexButton-hover-opacity);
		}

		&:focus-visible {
			outline-color: rgb(var(--#{$prefix}-focus) / 0.7);
		}

		&:active {
			transform: scale(0.97);
		}

		&:disabled,
		&.lumex-disabled {
			pointer-events: none;
			opacity: var(--LumexButton-disabled-opacity);
		}
	}

	&--sm {
		@include button-size( map-get($spacers, 1), map-get($spacers, 3), var(--#{$prefix}-font-size-sm), var(--#{$prefix}-line-height-sm), var(--#{$prefix}-border-sm) );
	}

	&--lg {
		@include button-size( map-get($spacers, 2), map-get($spacers, 6), var(--#{$prefix}-font-size-lg), var(--#{$prefix}-line-height-lg), var(--#{$prefix}-border-md) );
	}

	&--icon {
		--LumexButton-min-width: 0;
		--LumexButton-gap: 0;
		--LumexButton-padding-x: 0;
		width: calc(var(--LumexButton-line-height) + (var(--LumexButton-padding-y) + var(--LumexButton-border-width)) * 2);
		height: calc(var(--LumexButton-line-height) + (var(--LumexButton-padding-y) + var(--LumexButton-border-width)) * 2);
		overflow: hidden;
	}
}

@each $color in $theme-colors {
	.LumexButton--solid-#{$color} {
		--LumexButton-color: rgb(var(--#{$prefix}-#{$color}-contrast));
		--LumexButton-bg: rgb(var(--#{$prefix}-#{$color}));
	}

	.LumexButton--outlined-#{$color} {
		--LumexButton-color: rgb(var(--#{$prefix}-#{$color}));
		--LumexButton-border-color: rgb(var(--#{$prefix}-#{$color}));
	}

	.LumexButton--flat-#{$color} {
		--LumexButton-color: rgb(var(--#{$prefix}-#{$color}));
		--LumexButton-bg: rgb(var(--#{$prefix}-#{$color}-50));
	}

	.LumexButton--shadow-#{$color} {
		--LumexButton-color: rgb(var(--#{$prefix}-#{$color}-contrast));
		--LumexButton-bg: rgb(var(--#{$prefix}-#{$color}));
		box-shadow: 0 10px 12px -3px rgb(var(--#{$prefix}-#{$color}) / .3), 
					0 3px 6px -3px rgb(var(--#{$prefix}-#{$color}) / .6);
	}

	.LumexButton--ghost-#{$color} {
		--LumexButton-color: rgb(var(--#{$prefix}-#{$color}));
		--LumexButton-border-color: rgb(var(--#{$prefix}-#{$color}));
		--LumexButton-hover-opacity: 1;

		&:hover {
			--LumexButton-color: rgb(var(--#{$prefix}-#{$color}-contrast));
			--LumexButton-bg: rgb(var(--#{$prefix}-#{$color}));
		}
	}
}
