@import '../../essentials/variables';
@import '../../essentials/mixins/mixins';

// Buttons

.lumex-icon-btn {
    --lumex-btn-padding-y: #{$icon-btn-padding-y};
    --lumex-btn-padding-x: #{$icon-btn-padding-x};
    --lumex-btn-color: #{$icon-btn-color};
    --lumex-btn-bg: transparent;
    --lumex-btn-bg-hover: #{$icon-btn-bg-hover};
    --lumex-btn-bg-active: #{$icon-btn-bg-active};
    --lumex-btn-bg-disabled: transparent;
}

.lumex-icon-btn {
    border-radius: 50%;
}

@each $color in $theme-colors {
    .lumex-icon-btn.lumex-btn--#{$color} {
        --lumex-btn-color: var(--lumex-#{$color});
        --lumex-btn-color-hover: var(--lumex-#{$color});
        --lumex-btn-color-active: var(--lumex-#{$color});
        --lumex-btn-bg-hover: rgba(var(--lumex-#{$color}-rgb), var(--lumex-hover-amount));
        --lumex-btn-bg-active: rgba(var(--lumex-#{$color}-rgb), var(--lumex-active-amount));
    }
}
