<ul class="flex h-10 p-1 space-x-4 items-center bg-zinc-50">
    <li>World</li>
    <LumexDivider Orientation="@Orientation.Vertical" />
    <li>Economics</li>
    <LumexDivider Orientation="@Orientation.Vertical" />
    <li>Sports</li>
    <LumexDivider Orientation="@Orientation.Vertical" />
    <li>Art</li>
    <LumexDivider Orientation="@Orientation.Vertical"
                  Class="w-0.5"
                  Style="--lumex-divider: var(--lumex-danger); --lumex-opacity-divider: 50%" />
    <li class="font-semibold text-danger">Breaking News</li>
</ul>
