@namespace LumexUI
@inherits LumexComponentBase

<li @attributes="@AdditionalAttributes" class="@RootClass" style="@RootStyle">
	@ChildContent
</li>

@code {
	/// <summary>
	/// Defines the content to be rendered inside the list item.
	/// </summary>
	[Parameter] public RenderFragment? ChildContent { get; set; }

	protected override string RootClass =>
		new CssBuilder( "lumex-list-item" )
			.AddClass( base.RootClass )
		.Build();
}
