<LumexCard class="w-[200px] space-y-5 p-4" radius="@Radius.Large">
    <LumexSkeleton class="rounded-lg">
        <div class="h-24 rounded-lg bg-default-300" />
    </LumexSkeleton>
    <div class="space-y-3">
        <LumexSkeleton class="w-3/5 rounded-lg">
            <div class="h-3 w-3/5 rounded-lg bg-default-200" />
        </LumexSkeleton>
        <LumexSkeleton class="w-4/5 rounded-lg">
            <div class="h-3 w-4/5 rounded-lg bg-default-200" />
        </LumexSkeleton>
        <LumexSkeleton class="w-2/5 rounded-lg">
            <div class="h-3 w-2/5 rounded-lg bg-default-300" />
        </LumexSkeleton>
    </div>
</LumexCard>