@page "/docs/getting-started/overview"
@namespace LumexUI.Docs.Pages

<DocsPage>
    <DocsPageIntro Title="LumexUI - Overview" Category="Getting Started">
        <Description>
            <p>LumexUI is a library of Blazor components designed to streamline the development of Blazor applications.</p>
            <p>It's powerful, flexible, and developer-friendly.</p>
        </Description>
    </DocsPageIntro>

    <DocsPageContent>
        <DocsPageSection Title="Introduction">
            <p>Meet LumexUI, an open-source collection of practical, customizable components for Blazor.</p>
            <p>
                The primary goal of this library is to simplify your development process, offering a user-friendly library 
                that effortlessly enhances the look and feel of your applications.
            </p>

            <Callout Variant="@CalloutVariant.Info">
                <strong>Note:</strong> LumexUI is currently under active development, as we continuously work to expand and enhance its features.
                Stay tuned for regular updates and improvements!
            </Callout>
        </DocsPageSection>

        <DocsPageSection Title="Key Features">
            <LumexList>
                @foreach( var feature in _features )
                {
                    <LumexListItem>
                        <strong>@feature.Title: </strong>@feature.Description
                    </LumexListItem>
                }
            </LumexList>
        </DocsPageSection>

        <DocsPageSection Title="Getting Started">
            <p>
                If you're new to LumexUI, head over to the <LumexLink Route="/docs/getting-started/installation">Installation</LumexLink>
                page to set up the library in your Blazor project.
            </p>
            <p>
                Once installed, explore the <LumexLink Route="/docs/getting-started/usage">Usage</LumexLink>
                page for examples and best practices on incorporating LumexUI components into your applications.
            </p>
        </DocsPageSection>

        <DocsPageSection Title="Contribution and Community">
            <p>
                LumexUI is an open-source project, and we welcome contributions from the community.
                If you have ideas, bug reports, or want to contribute code,
                check out our <LumexLink Route="https://github.com">GitHub repository</LumexLink> for details on how to get involved.
            </p>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {
    private IEnumerable<(string Title, string Description)> _features = new List<(string, string)>()
    {
        (
            "Powerful Components",
            "LumexUI offers a rich set of components, including buttons, inputs, grids, and more, providing solutions for diverse UI needs."
        ),
        (
            "Seamless Integration",
            "With straightforward installation steps, LumexUI seamlessly integrates into your Blazor applications, enhancing functionality and visual appeal."
        ),
        (
            "Theming Support",
            "Our components come with theming support, allowing you to maintain a consistent look and feel throughout your application."
        ),
        (
            "Developer-Friendly",
            "LumexUI is crafted with developers in mind, offering clean and intuitive APIs that facilitate quick and efficient application development."
        )
    };
}