/* Visual Studio does not support modern CSS nesting yet. */

.prose {
    max-width: none;
}

    .prose :is(h2, h3, h4):where(:not(.not-prose, .not-prose *)) {
        scroll-margin-top: var(--scroll-mt);
    }

    .prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
        font-weight: var(--font-weight-semibold);
    }

    .prose a:not(:where(:is(h2, h3, h4) *)):where(:not(.not-prose, .not-prose *)) {
        color: var(--tw-prose-links);
        font-weight: var(--font-weight-semibold);
        text-decoration: underline;
        text-underline-offset: 3px;
        text-decoration-color: var(--color-orange-400);
        text-decoration-thickness: 1px;
    }

    .prose a:hover:where(:not(.not-prose, .not-prose *)) {
        text-decoration-thickness: 2px;
    }

    .prose pre:where(:not(.not-prose, .not-prose *)) {
        display: flex;
        padding: --spacing(5);
        color: var(--color-zinc-100);
    }

    .prose :where(code[class]):not(:where([class~=not-prose],[class~=not-prose] *)):before,
    .prose :where(code[class]):not(:where([class~=not-prose],[class~=not-prose] *)):after {
        content: none;
    }
