@namespace LumexUI
@inherits LumexComponentBase

<a @attributes="@AdditionalAttributes" href="@Route" class="@RootClass" style="@RootStyle">
    @ChildContent
</a>

@code {
	/// <summary>
	/// Defines the content to be rendered as the link.
	/// </summary>
	[Parameter] public RenderFragment? ChildContent { get; set; }

	/// <summary>
	/// Specifies a value representing the URL route to be navigated to.
	/// </summary>
	[Parameter] public string Route { get; set; } = "#";

	protected override string RootClass =>
		new CssBuilder( "lumex-link" )
			.AddClass( base.RootClass )
		.Build();
}
